<div id="create_new_channel">
<h2>Start a New Channel</h2>

<%= form_for(@channel) do |f| %>
  <%- #f.error_messages %>

    <label for="channel_name">Enter a name for your channel:
    <%= f.text_field :name, :class => "text_input" %>
    </label>
    <%= f.submit 'Start Channel', :class => "create_channel_submit" %>
<% end %>
</div>
<ul class="bottom_controls">
	<li><%= link_to 'Cancel', channels_path %></li>
</ul>