#messagetable
{
}

#messagetable .namecol
{
    text-align:right;
    font-weight:bold;
    padding-right:5px;
    color:firebrick;
    vertical-align:top;
    padding-top:7px;
}

#messagetable .datecol
{
    text-align:right;
    font-style: italic;
    padding-right:5px;
    white-space:nowrap;
    vertical-align:top;
    padding-top:7px;
}

#messagetable .contentcol
{
    text-align:left;
    vertical-align:top;
}

#messagetable .contentcol ul
{
    float:left;
    margin-bottom:10px;
}

#messagetable .contentcol li
{
    list-style-type: none;
    margin-left:0px;
    background-color:lightblue;
    float:left;
    clear:both;
    padding:5px;
    margin:2px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

#messagetable tr
{
}
