#messagetable
{
}

#messagetable .namecol
{
    text-align:right;
    font-weight:bold;
    padding-right:5px;
    color:firebrick;
}

#messagetable .datecol
{
    text-align:right;
    font-style: italic;
    padding-right:5px;
    white-space:nowrap;
}

#messagetable .contentcol
{
    text-align:left;
}

#messagetable .contentcol ul
{
    margin-bottom:5px;
}

#messagetable .contentcol li
{
    list-style-type: none;
    margin-left:0px;
}
