* {margin: 0;padding: 0;}
body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif; background: #f9f9f9;}
a:focus{outline:none}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:25px}
h2{font-size:23px}
h3{font-size:21px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}
ol{list-style:decimal}
ul{list-style:disc;}
li{margin-left:30px}
a {
	color: #347acb;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}

input.text-input, textarea {
	display: block;
	padding: 5px;
	border: 1px solid #bbb;
	-moz-box-shadow: inset 0px 1px 1px #eee; 
	-webkit-box-shadow: inset 0px 1px 1px #eee; 
	box-shadow: inset 0px 1px 1px #eee; 
	color: #999;
}


#header {
	padding: 0;
	height: 40px;
	background: #347acb;
	color: #ffffff;
	float: left;
	width: 100%;
}

#header a {
	color: #ffffff;
}


#header #header_left {
	margin: 0;
}

#header_left h1 {
	margin: 0;
}

#header_left h1 a{
	color: #fff;
	margin: 10px;
	height: 20px;
	font-size: 21px;
	line-height: 21px;
	float: left;
	display: block;
}
#header #header_right {
	text-align: right;
	float: right;
	color: #fff;
	padding: 10px;
}

#wrapper {
	clear: both;
}

#sidebar {
	display: inline;
	float: left;
	width: 200px;
	padding: 10px;
	height: 100%;
}

#sidebar h3 {
	clear: both;
	margin: 0;
	border-bottom: 1px dotted #ccc;
	font-size: 10px;
	padding: 5px;
	color: #777;
	text-transform: uppercase;
	line-height: 14px;
	text-shadow: #fff 0px 1px;
}

#sidebar li {
	list-style: none;
	margin: 0;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
}

#sidebar li a {
	
}

#sidebar .channel_controls {
	margin: 10px 0;
}

#sidebar div.new_channel {
	margin-top: 10px;
}

#sidebar div.new_channel a {
	display: block;
	width: 80px;
	font-size: 11px;
	text-align: center;
	padding: 2px 10px 3px;
	background-color: #eeeeee;
background-image: -moz-linear-gradient(top, #ffffff 0%,#f6f6f6 3%, #eeeeee 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(0.03, #f6f6f6),color-stop(1, #eeeeee));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6', EndColorStr='#eeeeee');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6', EndColorStr='#eeeeee')";
    border: 1px solid #ccc;
    margin-top: 10px;
    color: #565656;
    text-shadow: #fff 0px 1px;
    -khtml-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

#main {
	margin-left: 220px;
	background: #f3f6f9;
	border-left: 1px solid #ccc;
}

#main #home_content {
	padding: 20px;
	background: #fff;
}

#main #home_content h2{
	font-size: 28px;
	line-height: 28px;
	padding-bottom: 15px;
}

#main #home_content h4 {
	font-size: 14px;
	color: #222;
	margin-top: 10px;
	padding: 5px 0;
}

#main #home_content li {
	margin: 0 0 5px;
	list-style: none;
	color: #565656;
	font-size: 12px;
}


/* Channel columns */

#main_content {
	width: 70%;
	float: left;
	background: #fff;
	border-right: 1px solid #ccc;
}

#media_content {
	width: 30%;
	float: right;
	height: 100%;
	background: #f3f6f9;
}

#media_content p {
	padding: 20px;
}

/* Channel Styles */

#main .top_controls {
	float: left;
	width: 100%;
	margin: 0;
	background: #f3f6f9;
	border-bottom: 1px solid #ccd4dd;
	font-size: 11px;
	padding: 5px 0;
}
#main .top_controls:after {content: ".";display: block; height: 0;clear: both;visibility: hidden;}

#main .top_controls .users_in_channel {
	float: left;
	padding: 0 0 0 10px;
	line-height: 18px;
	color: #666;
}

#main .top_controls .add_user {
	width: 60px;
	float: right;
	margin-right: 5px;
	display: inline;
	text-align: center;
	padding: 1px 10px 2px;
	font-size: 11px;
	background-color: #eeeeee;
background-image: -moz-linear-gradient(top, #ffffff 0%,#f5f5f5 3%, #eeeeee 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(0.03, #f5f5f5),color-stop(1, #eee));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#f5f5f5');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#eeeeee')";
    border: 1px solid #999;
    color: #222222;
}

#message_post h2 {
	font-size: 28px;
	line-height: 28px;
	padding-bottom: 15px;
}

#message_post {
	padding: 20px;
	border-bottom: 1px dotted #ccc;
}

#message_post label {
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
}
#message_post textarea {
	display: block;
	height: 30px;
	padding: 5px;
	width: 90%;
	border: 1px solid #bbb;
	-moz-box-shadow: inset 0px 1px 1px #eee; 
	-webkit-box-shadow: inset 0px 1px 1px #eee; 
	box-shadow: inset 0px 1px 1px #eee; 
	color: #999;
}

#message_post textarea:focus {
	border: 1px solid #565656;
	background: #f3f6fa;
	color: #565656;
}

#message_post a.message_post {
	display: block;
	width: 50px;
	text-align: center;
	padding: 2px 10px 3px;
	background-color: #cccccc;
background-image: -moz-linear-gradient(top, #80b2ea 0%,#5593da 3%, #347acb 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #80b2ea),color-stop(0.03, #5593da),color-stop(1, #347acb));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#347acb');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#347acb')";
    border: 1px solid #266ab9;
    margin-top: 10px;
    color: #fff;
    text-shadow: #1a508e 0px -1px;
    -khtml-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-box-shadow: 0px 1px 0px #ddd; 
	-webkit-box-shadow: 0px 1px 0px #ddd; 
	box-shadow: 0px 1px 0px #ddd; 
	cursor: pointer;
}
#message_post a.message_post:hover {
	text-decoration: none;
	-moz-box-shadow: 0px 0px 4px #347acb; 
	 -webkit-box-shadow: 0px 0px 4px #347acb; 
	 box-shadow: 0px 0px 4px #347acb; 
}
#message_post a.message_post:active {
	background: #347acb;
}

#message_list {
	float: left;
	width: 100%;
}

#message_list .message_row {
	clear: both;
	list-style: none;
	width: 100%;
	margin: 5px 0;
	padding: 5px 0;
	border-bottom: 1px dotted #ccc;
}
#message_list .message_row:last-child {
	border-bottom: none;
}
#message_list .message_row:after {content: ".";display: block; height: 0;clear: both;visibility: hidden;}
#message_list .message_row .meta {
	float: left;
	width: 15%;
	text-align: right;
}
#message_list .message_row .meta p {
	text-align: right;
	padding: 0 10px 5px 0;
	margin: 0;
}
#message_list .message_row .meta .username {
	font-weight: bold;
	color: #357bcb;
	font-size: 12px;
}
#message_list .message_row .meta .date {
	color: #999;
	font-size: 11px;
}

#message_list .message_row .message_content {
	float: right;
	width: 85%;
	word-wrap: break-word;
}
#message_list .message_row .message_content p{
	margin: 0 0 7px;
	color: #333333;
	font-size: 12px;
	line-height: 18px;
	border-left: 1px solid #eee;
	padding:0 20px 5px 10px;
        position: relative;
}

#message_list .message_row .message_content p .buttons {
    position: absolute;
    text-align:right;
    width:100%;
    right:10px;
    visibility:hidden;
}

#message_list .message_row .message_content p:hover .buttons{
    visibility:visible;
}

#message_list p.no_messages {
	margin: 0 20px;
	padding: 3px 15px;
	border: 1px solid #ccd4dd;
	background: #f3f6f9;
	-khtml-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	color: #777;
}

/* Messages footer */
#main .bottom_controls {
	clear: both;
	margin: 0;
	background-color: #cccccc;
	background-image: -moz-linear-gradient(top, #ffffff 0%,#fcfcfc 3%, #eeeeee 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff), color-stop(0.03, #f3f3f3),color-stop(1, #eee));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfcfc', EndColorStr='#eeeeee');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfcfc', EndColorStr='#eeeeee')";
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font-size: 11px;
	padding: 5px;
}
#main .bottom_controls:after {content: ".";display: block; height: 0;clear: both;visibility: hidden;}
#main .bottom_controls li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0 10px;
	display: inline;
}
#main .bottom_controls li a {
	color: #565656;
	text-shadow: #fff 0px 1px;
}


/* New Channel Page */

#create_new_channel {
	padding: 20px;
	background: #fff;
}

#create_new_channel label {
	display: block;
	font-weight: bold;	
	color: #444;
	padding-top: 10px;
	border-top: 1px dotted #ccc;
	margin: 10px 5px 10px 0;
	font-size: 12px;
} 

#create_new_channel .text_input {
	padding: 5px;
	display: block;
	width: 240px;
	border: 1px solid #bbb;
	-moz-box-shadow: inset 0px 1px 1px #eee; 
	-webkit-box-shadow: inset 0px 1px 1px #eee; 
	box-shadow: inset 0px 1px 1px #eee; 
	color: #999;
	margin: 10px 0;
}

#create_new_channel .text_input:focus {
	border: 1px solid #565656;
	background: #f3f6fa;
	color: #565656;
}

#create_new_channel .create_channel_submit {
	width: 115px;
	text-align: center;
	padding: 2px 10px 3px;
	background-color: #cccccc;
background-image: -moz-linear-gradient(top, #80b2ea 0%,#5593da 3%, #347acb 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #80b2ea),color-stop(0.03, #5593da),color-stop(1, #347acb));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#347acb');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#347acb')";
    border: 1px solid #266ab9;
    margin-top: 5px;
    color: #fff;
    text-shadow: #1a508e 0px -1px;
    -khtml-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-box-shadow: 0px 1px 0px #ddd; 
	-webkit-box-shadow: 0px 1px 0px #ddd; 
	box-shadow: 0px 1px 0px #ddd; 
	cursor: pointer;
}
#create_new_channel .create_channel_submit:hover {
	text-decoration: none;
	-moz-box-shadow: 0px 0px 4px #347acb; 
	 -webkit-box-shadow: 0px 0px 4px #347acb; 
	 box-shadow: 0px 0px 4px #347acb; 
}
#create_new_channel .create_channel_submit:active {
	background: #347acb;
}

/* Add User Overlay */

#overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#overlay .overlay_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .6);
	z-index: 1001;
}
#overlay .overlay_content {
	position: relative;
	width: 200px;
	z-index: 1002;
	background: #fff;
	margin: 20% auto;
	padding: 40px;
}

#overlay .overlay_content .close_overlay {
	position: absolute;
	top: 10px;
	right: 10px;
}

.add_user_form label {
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
}

.add_user_form label input {
	display: block;
	margin: 10px 0;
	padding: 2px;
	font-size: 11px;
	width: 90%;
	border: 1px solid #bbb;
	-moz-box-shadow: inset 0px 1px 1px #eee; 
	-webkit-box-shadow: inset 0px 1px 1px #eee; 
	box-shadow: inset 0px 1px 1px #eee; 
}

.channel_controls .add_user_form label input:focus {
	border: 1px solid #999;
	background: #f3f6fa;
	color: #565656;
}

.add_user_form input.add_user_submit {
	width: 70px;
	text-align: center;
	padding: 1px 10px 2px;
	font-size: 11px;
	background-color: #cccccc;
background-image: -moz-linear-gradient(top, #80b2ea 0%,#5593da 3%, #347acb 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #80b2ea),color-stop(0.03, #5593da),color-stop(1, #347acb));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#347acb');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#347acb')";
    border: 1px solid #266ab9;
    color: #fff;
}
