* {margin: 0;padding: 0;}
body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif; background: #f9f9f9;}
html, body {width: 100%;height: 100%;}
a:focus{outline:none}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:25px}
h2{font-size:23px}
h3{font-size:21px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}
ol{list-style:decimal}
ul{list-style:disc;}
li{margin-left:30px}
a {
	color: #026c70;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}

input.text-input, textarea {
	display: block;
	padding: 5px;
	border: 1px solid #bbb;
	-moz-box-shadow: inset 0px 1px 1px #eee; 
	-webkit-box-shadow: inset 0px 1px 1px #eee; 
	box-shadow: inset 0px 1px 1px #eee; 
	color: #999;
}
input.text-input:focus, textarea:focus {
	color: #333;
}

input, input:focus {
	outline: none;
	-moz-outline:none;
}

#header {
	padding: 0;
	height: 49px;
	color: #ffffff;
	width: 100%;
	background-color: #026c70;
	background-image: -moz-linear-gradient(top, #3e8f92 0%, #026c70 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3e8f92),color-stop(1, #026c70));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfcfc', EndColorStr='#026c70');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfcfc', EndColorStr='#026c70')";
	-moz-box-shadow: inset 0px 1px 0px #6facae; 
	-webkit-box-shadow: inset 0px 1px 0px #6facae; 
	box-shadow: inset 0px 1px 0px #6facae; 
	border-bottom: 1px solid #005053;
}

#header:after {content: ".";display: block; height: 0;clear: both;visibility: hidden;}

#header #logo {
	background: url(/images/clusters.png) no-repeat top left;
	width: 112px;
	height: 25px;
	display: block;
	text-indent: -9999px;
	float: left;
	margin:11px 10px 0;
}

#header a {
	color: #ffffff;
}

#header #nav {
	height: 24px;
	margin: 12px 0 0 20px;
	float: left;
	display: inline;
}

#header #settings {
	position: absolute;
	top: 0px;
	right: 0;
}

#header #nav li {
	float: left;
	list-style: none;
	margin-right: 10px;
	margin-left: 0;
	position: relative;
}

#header #settings li {
	float: left;
	list-style: none;
	position: relative;
}

#header #nav li a.navlink, #header #settings a.dropdown {
	padding: 4px 10px;
	display: block;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	text-shadow: #006467 0px 1px 1px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	border: 1px solid transparent;
}

#header #nav li:hover a.dropdown, #header #settings li:hover a.dropdown {
	background: url(/images/bg-navlink.png) repeat-x left top;
	border: 1px solid #006467;
	-moz-box-shadow: 0px 1px 0px #31888a; 
	-webkit-box-shadow: 0px 1px 0px #31888a; 
	box-shadow: 0px 1px 0px #31888a;
}
#header #nav li a.dropdown:hover {
	border-bottom: none;
	-khtml-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#header #nav li a.navlink:hover, #header #settings a.dropdown:hover {
	text-decoration: none;
}
#header #nav li a.dropdown, #header #settings a.dropdown {
	padding-right: 25px;
}
.dropdown span {
	width: 7px;
	height: 6px;
	display: block;
	background: url(/images/caret.png) no-repeat left top;
	position: absolute;
	top: 10px;
	right: 10px;
}

#header #nav a.navlink.new_channel {
	display: block;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 12px;
	float: left;
	display: inline;
	border: none;
	color: #444444;
	text-shadow: #fee2a5 0px 1px;
	font-weight: bold;
	text-align: center;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0, .4); 
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0, .4); 
	box-shadow: 0px 1px 3px rgba(0,0,0, .4); 
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fdb928;
	background-image: -moz-linear-gradient(top, #f4e4c4 0%,#fedb90 3%, #fdb928 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f4e4c4),color-stop(0.03, #fedb90),color-stop(1, #fdb928));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fedb90', EndColorStr='#fdb928');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fedb90', EndColorStr='#fdb928')";
    cursor: pointer;
}
#header #nav a.navlink.new_channel:hover {
	border: none;
	-moz-box-shadow: 0px 0px 4px #fdb928; 
	 -webkit-box-shadow: 0px 0px 4px #fdb928; 
	 box-shadow: 0px 0px 4px #fdb928; 
}
#header #nav a.navlink.new_channel:active {
	background: #fdb928;
}

#header #nav li ul, #header #settings li ul {
	position: absolute;
	top: 23px;
	width: 10em;
	text-shadow: #006467 0px 1px 1px;
	border: 1px solid #006467;
	background: #026c70;
	z-index: 3;
	clear: both;
	width: 168px;
	display: block;	
	top: -9999px;
	-khtml-border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	-webkit-border-radius: 0 3px 3px 3px;
	border-radius: 0 3px 3px 3px;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0, .2); 
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0, .2); 
	box-shadow: 0px 1px 3px rgba(0,0,0, .2); 
}

#header #nav li ul.sub li, #header #settings li ul.sub li {
	margin: 0;
	float: none;
	display: block;
}

#header #nav li ul.sub li a, #header #settings li ul.sub li a {
	padding: 5px;
	font-size: 12px;
	display: block;
}

#header li ul.sub li:first-child a {
	-khtml-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	-webkit-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
}
#header li ul.sub li:last-child a {
	-khtml-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

#header li ul.sub li a:hover{
	text-decoration: none;
	background-color: #fdb928;
	color: #444444;
	text-shadow: #fee2a5 0px 1px;
	background-image: -moz-linear-gradient(top, #f4e4c4 0%,#fedb90 3%, #fdb928 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f4e4c4),color-stop(0.03, #fedb90),color-stop(1, #fdb928));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fedb90', EndColorStr='#fdb928');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fedb90', EndColorStr='#fdb928')";
}
#header li ul.sub li a:active {
	background: #fdb928;
}

#header #settings {
	float: right;
	color: #fff;
	margin: 12px 10px 0 0;
}

#header #settings li ul.sub {
	right: 0px;
	width: 100px;
	-khtml-border-radius: 3px 0 3px 3px;
	-moz-border-radius: 3px 0 3px 3px;
	-webkit-border-radius: 3px 0 3px 3px;
	border-radius: 3px 0 3px 3px;
}

#wrapper {
	clear: both;
}

#signup, #login {
	width: 300px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0, .05); 
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .05); 
	box-shadow: 0px 1px 0px rgba(0,0,0, .05); 
	clear: both;
	display: block;
	background: #fff;	
}

#signup:after, #login:after {content: ".";display: block; height: 0;clear: both;visibility: hidden;}

#signup h1, #login h1 {
	font-size: 36px;
	line-height: 36px;
	margin: 0 0 10px;
	color: #222;
}
#signup label, #login label {
	font-weight: bold;
	font-size: 14px;
	line-height: 36px;
	display: block;
	float: left;
	clear: both;
	color: #666;
}
#signup .text-input, #login .text-input {
	width: 260px;
	font-size: 14px;
	height: 18px;
	line-height: 18px;
}

#signup p, #login p {
	color: #777;
	margin: 10px 0;
	clear: both;
	float: left;
}

#signup .submit-button, #login .submit-button {
	display: block;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 18px;
	margin: 5px 5px 0 0;
	text-shadow: #fff 0px 1px;
	display: inline;
	border: 1px solid #de9800;
	color: #333333;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0, .1); 
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .1); 
	box-shadow: 0px 1px 0px rgba(0,0,0, .1); 
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fdb928;
	background-image: -moz-linear-gradient(top, #f4e4c4 0%,#fedb90 3%, #fdb928 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f4e4c4),color-stop(0.03, #fedb90),color-stop(1, #fdb928));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fedb90', EndColorStr='#fdb928');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fedb90', EndColorStr='#fdb928')";
    cursor: pointer;
}
#signup .submit-button:hover, #login .submit-button:hover {
	-moz-box-shadow: 0px 0px 4px #fdb928; 
	 -webkit-box-shadow: 0px 0px 4px #fdb928; 
	 box-shadow: 0px 0px 4px #fdb928; 
}
#signup .submit-button:active, #login .submit-button:active {
	background: #fdb928;
}

#sub_header {
	overflow: hidden;
	position: relative;
	height: 23px;
	padding: 8px;
	border-bottom: 1px solid #c8b498;
	background-color: #cccccc;
background-image: -moz-linear-gradient(top, #ffffff 0%,#faf7f4 3%, #f8f5f0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(0.03, #faf7f4), color-stop(1, #f8f5f0));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#faf7f4', EndColorStr='#f8f5f0');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#faf7f4', EndColorStr='#f8f5f0')";
}
#sub_header :after {content: ".";display: block; height: 0;clear: both;visibility: hidden;}

#sub_header h2.channel_title {
	width: 245px;
	float: left;
	font-size: 18px;
	line-height: 21px;
	padding: 0;
	margin: 0;
	text-shadow: #fff 0px 1px;
	color: #292928;
}

#sub_header .sub_header_right {
	position: absolute;
	right: 8px;
	top: 8px;
}

#channel_nav {
	float: right;
	height: 14px;
	margin: 2px 0 0;
}

#channel_nav li {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 14px;
	display: block;
	float: left;
	margin-right: 15px;
}

#channel_nav li a {
	font-size: 11px;
	line-height: 14px;
	color: #6a6a6a;
	height: 14px;
}

#channel_nav li a span {
	width: 16px;
	height: 14px;
	margin: 3px 5px 0 0;
	display: block;
	float: left;
	background: url(/images/icons-sidebar.png) no-repeat left top;
}
#channel_nav li a.visual_map span {background-position: -16px 0;}
#channel_nav li a.notification_settings span {background-position: -32px 0;}
#channel_nav li a.members span {background-position: -48px 0;}

#sub_header a.invite_people {
	float: right;
	padding: 4px 12px 7px 12px;
	font-size: 11px;
	line-height: 11px;
	height: 10px;
	text-shadow: #ffe8b8 0px 1px;
	display: block;
	border: 1px solid #c98c2b;
	color: #333333;
	text-align: center;
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0, .1); 
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .1); 
	box-shadow: 0px 1px 0px rgba(0,0,0, .1); 
	-khtml-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background-clip:padding-box;
	background-color: #fdbc31;
	background-image: -moz-linear-gradient(top, #ffe8b8 0%,#fed06e 3%, #fdbc31 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffe8b8),color-stop(0.03, #fed06e),color-stop(1, #fdbc31));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fed06e', EndColorStr='#fdbc31');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fed06e', EndColorStr='#fdbc31')";
}
#sub_header a.invite_people:hover {
	text-decoration: none;
	-moz-box-shadow: 0px 0px 4px #fdb928; 
	-webkit-box-shadow: 0px 0px 4px #fdb928; 
	box-shadow: 0px 0px 4px #fdb928; 
}
#sub_header a.invite_people:active {
	background: #fdbc31;
}


#sidebar {
	float: left;
	width: 170px;
	height: 100%;
}

#sidebar h3 {
	clear: both;
	font-size: 11px;
	padding: 10px;
	color: #292928;
	line-height: 14px;
	text-shadow: #fff 0px 1px;
	border-top: 1px solid #d0d0d0;
	-moz-box-shadow: inset 0px 1px 0px #ffffff; 
	-webkit-box-shadow: inset 0px 1px 0px #ffffff; 
	box-shadow: inset 0px 1px 0px #ffffff; 
}

#sidebar h3:first-child {
	border: none;
}

#sidebar ul {
	padding: 0px 0 15px;
	list-style: none;
	float: none;
	clear: both;
	display: block;
	width: 170px;
}
#sidebar ul li {
	height: 27px;
	width: 170px;
	position: relative;
	font-size: 11px;
	line-height: 12px;
	margin: 0;
}
#sidebar ul li a {
	color: #757575;
	text-shadow: #ffffff 0px 1px;
	height: 17px;
	padding: 5px 10px;
	display: block;
}

#sidebar ul li a:hover {
	background: #eee;
	text-decoration: none;
}

#sidebar ul li.selectedbranch a{
	background: url(/images/highlight-branches.png) repeat-x left top;
	color: #444;
}
#sidebar ul li.selectedbranch a:hover {
	text-decoration: none;
}
#sidebar ul li.selectedbranch a span {
	width: 10px;
	height: 27px;
	display: block;
	background: url(/images/highlight-branches-right.png) no-repeat left top;
	position: absolute;
	right: -10px;
	top:0px;
}

#sidebar ul li.childbranch a{
	background-color: skyblue;
}



#main {
	margin-left: 170px;
	background: #fff;
	border-left: 1px solid #cccdce;
	-moz-box-shadow: inset -1px 0px 3px rgba(0,0,0, .1); 
	-webkit-box-shadow: inset 1px 0px 3px rgba(0,0,0, .1); 
	box-shadow: inset 1px 0px 3px rgba(0,0,0, .1); 
}
#main:after {content: ".";display: block; height: 0;clear: both;visibility: hidden;}

#home_content {
	padding: 20px;
	background: #fff;
	margin: 20px auto;
	width: 400px;
}

#home_content h2{
	font-size: 28px;
	line-height: 28px;
	padding-bottom: 15px;
}

#home_content h4 {
	font-size: 14px;
	color: #222;
	margin-top: 10px;
	padding: 5px 0;
}

#home_content li {
	margin: 0 0 5px;
	list-style: none;
	color: #565656;
	font-size: 12px;
}


/* Channel columns */

#main_content:after {content: ".";display: block; height: 0;clear: both;visibility: hidden;}
/* Channel Styles */

#post_area {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	position: fixed;
	bottom: 0px;
	left: 170px;
	z-index:100;
	height: 79px;
	overflow: hidden;
	background-color: #cccccc;
background-image: -moz-linear-gradient(top, #ffffff 0%,#f9f9f9 1%, #f0f0f0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(0.01, #f9f9f9),color-stop(1, #f0f0f0));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#f0f0f0');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#f0f0f0')";
	width: 100%;
	-moz-box-shadow: 0px -1px 1px rgba(0,0,0, .1); 
	-webkit-box-shadow: 0px -1px 1px rgba(0,0,0, .1); 
	box-shadow: 0px -1px 1px rgba(0,0,0, .1); 
}

#post_area .post_area_inner form#new_message {
	position: absolute;
	width: 100%;
}

#post_area .input_wrapper {
	border: 1px solid #bbb;
	height: 28px;
	position: relative;
	margin: 10px 10px 0;
	padding: 0 5px;
	background:#fff;
	-moz-box-shadow: inset 0px 1px 1px #eee; 
	-webkit-box-shadow: inset 0px 1px 1px #eee; 
	box-shadow: inset 0px 1px 1px #eee; 
}

#post_area .input_wrapper.focused {
	border: 1px solid #fdb928;
	-moz-box-shadow: 0px 1px 4px #fedb90; 
	-webkit-box-shadow: 0px 1px 4px #fedb90; 
	box-shadow: 0px 1px 4px #fedb90; 
}

#post_area .input_wrapper label {
	position: absolute;
	left: 5px;
	top: 4px;
	font-size: 14px;
	color: #ccc;
	z-index: 1;
}

#post_area #msginput {
	position: absolute;
	z-index: 2;
	display: block;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	padding: 5px 0;
	border: none;
	background: transparent;
	color: #565656;
}


#post_area p.form_note {
	float: right;
	font-size: 10px;
	color: #666;
	text-shadow: #fff 0px 1px;
	font-style: italic;
	padding-top: 5px;
	margin-right: 10px;
}

#messages {
	float: left;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

.message_row {
	clear: both;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #ccc;
}
.message_row:last-child {
	border-bottom: none;
}
.message_row:after {content: ".";display: block; height: 0;clear: both;visibility: hidden;}
.message_row .meta {
	float: left;
	width: 24px;
	margin: 3px 10px 3px 15px;
	text-align: right;
}

.message_row .meta a.user_pic {
	width: 24px;
	height: 24px;
	display: block;
	border: 1px solid #fff;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0, .2); 
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0, .2); 
	box-shadow: 0px 0px 3px rgba(0,0,0, .2); 
}

.message_row .username {
	font-weight: bold;
	color: #026c70;
	font-size: 12px;
        padding-left:49px;
}

#message_list .message_row .message_content {
	word-wrap: break-word;
	padding-left: 44px;
}

#message_list .message_content .branchpoint {
    margin:7px 0px 7px 0px;
	height: 19px;
}

#message_list .message_content .branchpoint a.branch_link{
	display: block;
	height: 19px;
	padding-right: 10px;
	//background: url(/images/bg-branch.png) right top;
	font-size: 11px;
	line-height: 19px;
	color:#444;
	margin: 0 0 0 5px;
	text-shadow: #fef4e0 0px 1px;

        border-width:0px 33px 0px 33px;
        -moz-border-image:url(/images/bg-branch.png) 0 33 0 33 repeat stretch;
        -webkit-border-image:url(/images/bg-branch.png) 0 33 0 33 repeat stretch;
        border-image:url(/images/bg-branch.png) 0 33 0 33 repeat stretch;
        float:left;
}
#message_list .message_content .branchpoint a.branch_link:hover {
	text-decoration: none;
}
#message_list .message_content .branchpoint a.branch_link:active {
}


.message_row .message_content p{
	margin: 5px 0;
	padding-left: 5px;
	color: #333333;
	font-size: 12px;
	line-height: 18px;
    position: relative;
    width: 98%;
}
#message_list .message_row .message_content p.unread {
	background: #eff7f7;
}

#message_list .message_row .message_content p .buttons {
	visibility: hidden;
}

#message_list .message_row .message_content p:hover .buttons{
    visibility:visible;
}

#message_list .message_row .message_content 
{
	word-wrap: break-word;
	padding-left: 44px;
}

#root_message
{
    margin: 4px 4px 4px 4px;
    border:2px solid red;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color:#ffcfca;
}

#root_message .message_content .branchpoint
{
    display:none;
}

#message_list p.no_messages {
	margin: 0 20px;
	padding: 3px 15px;
	border: 1px solid #ccd4dd;
	background: #f3f6f9;
	-khtml-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	color: #777;
}

.message_content a.delete_post {
	display: block;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	float: right;
	margin: 4px 0 0 3px;
	background: url(/images/icons-group.png) no-repeat -36px 0px;
}

.message_content a.delete_post:hover {background-position: -36px -12px;text-decoration: none;}
.message_content a.delete_post:active {background-position: -36px -24px;}

.message_content a.make_branch {
	display: block;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	float: right;
	margin: 4px 0 0 3px;
	background: url(/images/icons-group.png) no-repeat -24px 0px;
}

.message_content a.make_branch:hover {background-position: -24px -12px;text-decoration: none;}
.message_content a.make_branch:active {background-position: -24px -24px;}

#more_link {
	display: block;
	text-align: center;
	margin: 10px;
	background-color: #cccccc;
	border: 1px solid #ccc;
background-image: -moz-linear-gradient(top, #ffffff 0%,#fcfcfc 3%, #fbfbfb 50%, #f4f4f4 50%, #f0f0f0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(0.03, #fcfcfc),color-stop(0.5, #fbfbfb),color-stop(0.5, #f4f4f4),color-stop(1, #f0f0f0));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfcfc', EndColorStr='#f0f0f0');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfcfc', EndColorStr='#f0f0f0')";
    -moz-box-shadow: 0px 1px 0px rgba(0,0,0, .05); 
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .05); 
	box-shadow: 0px 1px 0px rgba(0,0,0, .05); 
	-khtml-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

/* New Channel Page */

#create_new_channel {
	padding: 20px;
	background: #fff;
}

#create_new_channel label {
	display: block;
	font-weight: bold;	
	color: #444;
	padding-top: 10px;
	border-top: 1px dotted #ccc;
	margin: 10px 5px 10px 0;
	font-size: 12px;
} 

#create_new_channel .text_input {
	padding: 5px;
	display: block;
	width: 240px;
	border: 1px solid #bbb;
	-moz-box-shadow: inset 0px 1px 1px #eee; 
	-webkit-box-shadow: inset 0px 1px 1px #eee; 
	box-shadow: inset 0px 1px 1px #eee; 
	color: #999;
	margin: 10px 0;
}

#create_new_channel .text_input:focus {
	border: 1px solid #565656;
	background: #f3f6fa;
	color: #565656;
}

#create_new_channel .create_channel_submit {
	width: 115px;
	text-align: center;
	padding: 2px 10px 3px;
	background-color: #cccccc;
background-image: -moz-linear-gradient(top, #80b2ea 0%,#5593da 3%, #347acb 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #80b2ea),color-stop(0.03, #5593da),color-stop(1, #347acb));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#347acb');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#347acb')";
    border: 1px solid #266ab9;
    margin-top: 5px;
    color: #fff;
    text-shadow: #1a508e 0px -1px;
    -khtml-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-box-shadow: 0px 1px 0px #ddd; 
	-webkit-box-shadow: 0px 1px 0px #ddd; 
	box-shadow: 0px 1px 0px #ddd; 
	cursor: pointer;
}
#create_new_channel .create_channel_submit:hover {
	text-decoration: none;
	-moz-box-shadow: 0px 0px 4px #347acb; 
	 -webkit-box-shadow: 0px 0px 4px #347acb; 
	 box-shadow: 0px 0px 4px #347acb; 
}
#create_new_channel .create_channel_submit:active {
	background: #347acb;
}

/* Add User Overlay */

#overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#overlay .overlay_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .6);
	z-index: 1001;
}
#overlay .overlay_content {
	position: relative;
	width: 200px;
	z-index: 1002;
	background: #fff;
	margin: 20% auto;
	padding: 40px;
}

#overlay .overlay_content .close_overlay {
	position: absolute;
	top: 10px;
	right: 10px;
}

.add_user_form label {
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
}

.add_user_form label input {
	display: block;
	margin: 10px 0;
	padding: 2px;
	font-size: 11px;
	width: 90%;
	border: 1px solid #bbb;
	-moz-box-shadow: inset 0px 1px 1px #eee; 
	-webkit-box-shadow: inset 0px 1px 1px #eee; 
	box-shadow: inset 0px 1px 1px #eee; 
}

.channel_controls .add_user_form label input:focus {
	border: 1px solid #999;
	background: #f3f6fa;
	color: #565656;
}

.add_user_form input.add_user_submit {
	width: 70px;
	text-align: center;
	padding: 1px 10px 2px;
	font-size: 11px;
	background-color: #cccccc;
background-image: -moz-linear-gradient(top, #80b2ea 0%,#5593da 3%, #347acb 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #80b2ea),color-stop(0.03, #5593da),color-stop(1, #347acb));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#347acb');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5593da', EndColorStr='#347acb')";
    border: 1px solid #266ab9;
    color: #fff;
}

/* Error & Alert Messages */

p.notice {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 0;
	color: #444;
	background: #fffde2;
	border-bottom: 1px solid #c8b498;
	-moz-box-shadow: inset 0px 1px 3px rgba(0,0,0, .2); 
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0, .2); 
	box-shadow: inset 0px 1px 3px rgba(0,0,0, .2); 
}

p.notice.good {
	background: #e7fff5;
	border-bottom: 1px solid #82c4a9;
}

p.notice.bad {
	border-bottom: 1px solid #cb8c7d;
	background: #ffd9d0;
}

